<?xml version="1.0" ?>
<robot name="custom_plane">
  <link name="plane_link">
    <visual>
      <geometry>
        <mesh filename="plane_mesh.stl" scale="1 1 1"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="plane_mesh.stl" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
